{% extends 'base.html.twig' %}

{% block title %} {{ 'Paciente : ' ~ patient.fullname }} {% endblock %}

{% block body %} 
<div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            {{ 'Paciente : ' ~ patient.fullname }} 
                        </h4>
                        <p class="card-category">
                            Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            {% if patient %}

                                <ul class="list-group">
                                    <li class="list-group-item"><strong> Foto:  </strong>{{ patient.photo ? patient.photo : "No hay foto" }}</li>
                                    <li class="list-group-item"><strong> Nombre Completo:  </strong>{{ patient.fullname}}</li>
                                    <li class="list-group-item"><strong> Email:  </strong>{{ patient.email}}</li>
                                    <li class="list-group-item"><strong> Cedula:  </strong>{{ patient.cardid}}</li>
                                    <li class="list-group-item"><strong> Direccion:  </strong>{{ patient.address}}</li>
                                    <li class="list-group-item"><strong> Telefono:  </strong>{{ patient.phone}}</li>
                                    <li class="list-group-item"><strong> Seguridad Social:  </strong>{{ patient.socialsecurity}}</li>
                                </ul>
                                <a class="btn float-right" href="/patient">Volver</a>  

                            {% else %}
                                <div class="alert alert-dismissible alert-warning">
                                    <button class="close" data-dismiss="alert" type="button">&times;</button>
                                    <h4 class="alert-heading">Aviso</h4>
                                    <p class="mb-0">No existe este paciente.</p>
                                </div>
                                <a class="btn btn-primary float-right" href="/patient/new">Nuevo</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 