{% extends 'base.html.twig' %}

{% block title %} Editar Area Medica {% endblock %}

{% block body %} 


<div class="content">
<div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="/category">Área</a></li>
                    <li class="breadcrumb-item active">Editar</li>
                </ol>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-user">
              <div class="image text-center ">
                 <i class="{{ 'fa-b ' ~ icon }}"></i>
              </div>
            </div>


          </div>
          <div class="col-md-8">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Editar Area Medica</h5>
              </div>
              <div class="card-body">
                {{ form_start(form) }}
                {# <form> #}
                  <div class="row">
                    <div class="col-md-6 p-2">
                      <div class="form-group">
                        {{ form_row(form.area) }}
                      </div>
                    </div>

                    <div class="col-md-6 p-2">
                      <div class="form-group">
                        {{ form_row(form.icon) }}
                      </div>
                    </div>
                    {# <div class="col-md-5 p-2">
                      <div class="form-group">
                        {{ form_row(form.from_hour_day_one) }}
                      </div>
                    </div> #}
                    
                  </div>
                
                 
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                        {{ form_row(form.save) }}
                    </div>
                  </div>
                {# </form> #}
                {{ form_end(form) }}
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %} 