{% extends 'base.html.twig' %}

{% block title %} Listado de Medicos {% endblock %}

{% block body %} 

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item active">Empleado</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Listado de Medicos
                    </h4>
                    <p class="card-category">
                        Here is a subtitle for this table</p>
                    <a class="btn btn-primary float-right" href="/medic/new/">Nuevo</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if medics %}

                            <table class="table data-show" id="medics">
                                 <thead>
                                    <tr class="text-primary">
                                        <th>Nombre Completo</th>
                                        <th>Telefono</th>
                                         <th>Grupo Medico</th>
                                        <th>Especialidad</th>
                                        {# <th>Fecha Inicio</th> #}
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for medic in medics %}
                                    <tr>
                                        <td>{{ medic.name  ~' '~ medic.last_name }}</td>
                                        <td>{{ medic.phone }}</td>
                                        <td>{{ medic.medic_group }}</td>
                                        {# <td>{{ medic.date_start|date('Y-m-d')  }}</td> #}
                                        <td>{{ medic.category }}</td>
                                        
                                        <td>
                                            <a data-toggle="tooltip" data-placement="top" title="Ver" href="/medic/{{ medic.id }}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                        </td>
                                        <td>
                                            <a data-toggle="tooltip" data-placement="top" title="Editar" href="/medic/edit/{{ medic.id }}" class="btn btn-light"><i class="fas fa-edit"></i></a>
                                        </td>
                                        <td>
                                            <a data-toggle="tooltip" data-placement="top" title="Eliminar" href="#" class="btn btn-danger delete-article" data-id="{{ medic.id }}"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                        <td>
                                            <a data-toggle="tooltip" data-placement="top" title="Vacaciones" href="/medic/vacation/{{ medic.id }}" class="btn btn-info"><i class="fas fa-calendar"></i></a>
                                        </td>
                                    </tr> 
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="alert alert-dismissible alert-warning">
                                <h4 class="alert-heading">Aviso</h4>
                                <p class="mb-0">No Existen medicos actualmente.</p>
                            </div>
                            
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} 

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}

