{% extends 'base.html.twig' %}

{% block title %} Listado de trabajadores para tomar vacaciones {% endblock %}

{% block body %} 
   {% if medic_vacation %}
        <h2 class="mt-2 mb-4">Disponibilidad de vacaciones</h2>
        <table class="table table-stripedd data-show" id="medic_vacation">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Tipo <small>(medico o empleado)</small></th>
                    <th>Fecha entrada</th>
                    <th>Dias ganados</th>
                    <th>Dias tomados </th>
                    <th>Dias restantes </th>
                    <th>Asignar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ medic_vacation.name }}</td>
                    <td>Medico</td>
                    <td>{{ medic_vacation.dateStart }}</td>
                    <td>{{ vacationDays }}</td>
                    <td>{{ vacationTaken }}</td>
                    <td>{{ vacationDays - vacationTaken }}</td>
                    <td>
                    <a href="/vacation/assign/{{ medic_vacation.id }}/0" class="btn btn-info"><i class="fas fa-calendar"></i></a>
                    </td>
                    
                </tr> 
            </tbody>
        </table>
   {% else %}
        <p>No existen medicos activos</p>
   {% endif %}
{% endblock %} 

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}