<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
        <meta name="author" content="Creative Tim">
        <title>
            {% block title %}Bienvenido{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        <!-- Favicon -->
        <link href="{{ asset('argon-template/assets/img/brand/favicon.png') }}" rel="icon" type="image/png">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <!-- Icons -->
        <link href="{{ asset('argon-template/assets/vendor/nucleo/css/nucleo.css') }}" rel="stylesheet">
        <link href="{{ asset('argon-template/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
        <!-- Argon CSS --> 
        <link type="text/css" href="{{ asset('argon-template/assets/css/argon.css?v=1.0.0') }}" rel="stylesheet">
    </head>
    <body class="bg-default">
        
        {% block body %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
        <!-- Argon Scripts -->
        <!-- Core --> 
        <script src="{{ asset('argon-template/assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('argon-template/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
        <!-- Argon JS -->
        <script src="{{ asset('argon-template/assets/js/argon.js?v=1.0.0') }}"></script>
    </body>
</html> 
